.h1 {
  font-size: 60px;
}
.pLarge {
  font-size: 25px;
  line-height: 1.5;
  margin: 0 auto;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.bgGrey {
  background: rgb(225, 236, 238);
}
.hero {
  padding-left: 3%;
  padding-bottom: 5%;
}

.projInput {
  position: relative;
  left: 32%;
  margin: 35px auto;
  padding: 10px;
  border: 2px solid #eee;
  border-radius: 10px;
  width: 30%;
  font-size: 1rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  transform: translateY(0);
  transition: all 0.2s;
}
.projInput:focus {
  outline: none;
  box-shadow: none;
  transform: translateY(-3px);
  transition: all 0.5s ease 0;
}
.projects {
  display: grid;
  grid-template-columns: 5fr 5fr;
  padding-bottom: 100px;
  max-width: 1100px;
  margin: 0 auto;
}
.project {
  display: block;
  margin: 2% auto;
  width: 90%;
  height: 90%;
  border-radius: 5px;
  background: #fff;
  padding-right: 5%;
  transform: translateY(0);
  transition: all 0.2s;
}
.project:hover {
  box-shadow: 0 10px 70px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
  transition: all 0.2s ease 0s;
}
.projectIconHeader {
  width: 70px;
  height: 70px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 20px;
}
.projectHeader {
  position: absolute;
  top: 0;
  left: 120px;
  font-size: 24px;
  display: block;
}
.projectDescription {
  margin-left: 25%;
  hyphens: auto;
  line-height: 1.5;
  font-size: 16px;
  display: block;
  margin-bottom: 10%;
}
.projNoResult {
  display: block;
  text-align: center;
  font-size: xx-large;
  padding-bottom: 5%;
}

.atticProjContent {
  display: block;
  border-top: 2px solid black;
  padding-top: 20px;
  max-width: 1100px;
  margin: 90px auto 40px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
}
.atticProjTitle {
  padding-bottom: 2rem;
  margin-bottom: 40px;
  font-size: 1.5rem;
  margin-top: 0.4em;
  color: black;
  font-weight: 700;
}
.atticProjBoxContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.atticProjBox {
  color: inherit;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
  padding: 0;
  margin: 0;
  flex: 50%;
  outline: none;
  max-width: 50%;
}
.atticProjBox:hover .atticProjectTitle {
  text-decoration: underline;
}
.atticProjectTextContainer {
  width: auto;
  padding-right: 3rem;
  padding-bottom: 0.6rem;
}
.atticProjectTitle {
  color: black;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
}
.atticProjectText {
  margin-top: 5px;
  line-height: 1.7em;
}

@media (max-width: 1100px) {
  .atticProjContent {
    margin: 50px auto;
    padding: 20px 15px 5px 15px;
    max-width: 700px;
  }
}

@media (max-width: 800px) {
  .projInput {
    position: relative;
    left: 20%;
    margin: 5% auto;
    width: 50%;
  }
  .projects {
    grid-template-columns: 5fr;
    padding: 0px 0px;
  }
  .project {
    margin: 2% auto;
  }
  .project:last-child {
    height: 85%;
  }
  .projectHeader {
    font-size: 16px;
  }
  .projectDescription {
    margin-left: 18%;
    hyphens: auto;
    line-height: 1.5;
    font-size: 16px;
    display: block;
    margin-bottom: 10%;
  }
  .projNoResult {
    display: block;
    text-align: center;
    font-size: xx-large;
    padding-bottom: 5%;
  }

  .atticProjContent {
    padding: 20px 15px 5px 15px;
  }
}

@media (max-width: 350px) {
  .projectIconHeader {
    width: 40px;
    height: 40px;
  }
  .project {
    height: 200px;
  }
  .projectDescription {
    font-size: 14px;
  }
  .projectHeader {
    left: 80px;
    font-size: 16px;
  }
}

@media (max-width: 250px) {
  .project {
    width: 200px;
    height: 250px;
  }
}
